.temperature {
    @apply font-semibold w-auto mx-[10px];
    font-size: 140px;

    @media (max-width: 800px) {
        font-size: 70px !important;
    }

    @media (max-width: 450px) {
        font-size: 70px !important;
    }
}

.temp-symbol {
    @apply font-semibold w-auto -mt-[30px] -ml-[10px];

    @media (min-width: 1024px) {
        font-size: 140px !important;
    }

    @media (max-width: 800px) {
        font-size: 70px !important;
    }

    @media (max-width: 450px) {
        font-size: 70px !important;
    }
}

.dynamic-temp {
    @apply font-semibold w-auto;

    @media (min-width: 1024px) {
        font-size: 70px !important;
    }

    @media (max-width: 800px) {
        font-size: 70px !important;
    }

    @media (max-width: 450px) {
        font-size: 70px !important;
    }
}

.weather-card-container {
    @apply flex justify-center flex-col items-center text-neutral-500;

    .weather-card-content {
        @apply flex items-center justify-center mb-5;
    }

    .weather-card-temp-content {
        @apply mr-3 flex flex-col justify-center items-center cursor-pointer;

        .weather-card-temp-container {
            @apply flex justify-center items-center ml-0 md:-ml-5 lg:-ml-0 mb-3 md:mb-0;
        }

        .weather-card-temp-desc {
            @apply capitalize font-semibold text-lg md:text-2xl -mt-[24px];
        }
    }

    .weather-card-display-details-container {
        @apply flex flex-col items-start mt-[25px];

        .weather-card-detail-content {
            @apply flex items-center justify-center mb-3 cursor-pointer;

            .weather-card-detail-icon {
                @apply mr-3 text-purple-600
            }

            .weather-card-detail-val {
                @apply font-semibold;
            }
        }
    }

    .weather-card-hint {
        @apply text-neutral-400 text-center;
    }
}